{% extends 'base.html.twig' %}

{% block title %}Entraineurs{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Striped Table</h4>
                    <p class="card-description"> Add class <code>.table-striped</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Photo </th>
                            <th> Nom </th>
                            <th> Prenom </th>
                            <th> Date de Naissance </th>
                            <th> Deadline </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for entraineur in entraineurs %}
                          <tr>
                            <td class="py-1">
                              <img src="../../assets/images/faces-clipart/pic-1.png" alt="image">
                            </td>
                            <td> {{ entraineur.nom }} </td>
                            <td>
                              {{ entraineur.prenom }}
                              </div>
                            </td>
                            <td> {{ entraineur.annee_naissance }} </td>
                            <td> May 15, 2015 </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}
